# Environment File
.env

# Virtual Environment
.venv/

# Visual Studio
.vs/

# Specific VS/VSC Project Files/Folders
*.pyproj
*.user
*.sln

# Specific PyCharm Project Files/Folders
.idea/

# Ignore Python cache files
__pycache__/
